.tic {
  text-align: center;
}

.display {
  color: palevioletred;
  font-size: 25px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.container {
  display: grid;
  text-align: center;
  justify-items: center;
  width: 500px;
  height: 500px;
  background-color: black;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3 auto); */
  color: blanchedalmond;
  margin: 5px;
}
.mark {
  width: 140px;
  height: 140px;
  border: 1px solid violet;
  font-size: 100px;
  text-align: center;
  justify-items: center;
  margin-top: 5px;
}

.button {
  background-color: black;
  color: blanchedalmond;
  width: 70px;
  height: 50px;
  text-align: center;
  justify-items: center;
  margin-inline: 220px;
}

.strike {
  position: absolute;
  background-color: darkred;
}

.hide {
  display: none;
}
.playerX {
  font-size: 50px;
}
