.container {
  display: block;
  text-align: center;
  justify-content: center;
  height: 400px;
  width: 340px;
  background-color: coral;
  border-radius: 15px;
  border: 2px solid black;
  margin-left: 150px;
  margin-top: 50px;
  z-index: -25;
  /* font-size: 40px; */
}

.button {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#display {
  margin: 25px 5px;
  height: 30px;
  width: 200px;
  border: 2px solid black;
}

.button.mathButtons {
  font-weight: bold;
  font-size: 30px;
}

.button.digits {
  font-weight: bold;
  font-size: 30px;
  box-shadow: 1px 1px #888888
  /* font-family: ; */
}

#clearButton {
  font-weight: bold;
  font-size: 15px;
}
.btn {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px #888888
}
